html {
    width: 100%;
}
body {
    color: #efefef;
    height: 100%;
}
main {
    height: 100%;
}
.banner {
    position: fixed;
    height: 40%;
    min-height: 40vh;
    width: 100%;
    background-color: #424242;
    display: block;
}
.card {
    position: relative;
    top: 100px;
    min-width: 420px;
    width: 80%;
    max-width: 960px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;
}
.HelloZach {
    padding: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.HelloZach div {
    justify-content: center;
}
.headshot {
    display: inline-block;
    min-width: 232px;
    width: 40%;
    background-color: grey;
    background-image: url("../media/headShot.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-clip: content-box;
    background-size: cover;
    ;
}
.bioContent {
    display: inline-block;
    width: 55%;
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
    color: #616161;
    padding: 20px;
}
.bioContent img {
    padding-left: 5px;
}
.bioContent h2 {
    font-size: 1.75em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    letter-spacing: .12em;
}
.bioContent h2 em {
    font-weight: 900;
    font-style: normal;
    color: #424242;
}
.bioContent h5 {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}
.bioContent p {
    display: table-row;
}
.bioContent p span {
    display: table-cell;
    padding: 10px 0;
    width: 55%;
}
.rowTitle {
    font-weight: 600
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    max-width: 960px;
    height: 80px;
    background-color: #03A9F4;
}
.links a img {
    padding: 10px;
    height: 35px;
    margin: 0 25px;
    border-radius: 50%;
    transition: all 0.4s ease-out;
}
.links a img:hover {
    border: 20px;
    background-color: rgba(158, 158, 158, 0.7);
}
.resume {
    position: relative;
    top: 180px;
    width: 250px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s linear;
}
.resume:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s linear;
}
.resume a {
    display: block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #757575;
    width: inherit;
    margin: auto;
}
@media screen and (max-width: 1120px) {
    .headshot {
        display: none;
    }
    .bioContent {
        margin: 0 auto;
    }
}
@media screen and (max-width: 420px) {
    .HelloZach {
        padding: 0;
    }
}
